# fly.toml app configuration file generated for stellar-events-api on 2026-02-07T08:53:12+10:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'stellar-events-api'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'performance-1x'
  memory = '8gb'
  memory_mb = 8192
